$font-fam-main: Helvetica, sans-serif;

@mixin titleBig(){
    font-size: 2em;
    color: red;
    font-weight: bold;
    font-family: $font-fam-main;
}

.card-title {
    @include titleBig()
}

$font-map: (
    xs: 0.5em,
    sm: 0.8em,
    normal: 1em,
    medium: 1.5em,
    lg: 1.8em,
    xl: 2.5em,
    xxl: 3.5em,

);

@each $breakpoint, $value in $font-map {
    .font-#{$breakpoint} {
        font-size: $value;
    }
}
