@import 'partials/reset';
@import 'partials/mixins';
@import 'partials/spacing';
@import 'partials/font';
@import 'partials/colors';
@import 'partials/bottons';
@import 'partials/animations';

body {
    background-color: $color-bg-hero;
    color: $color-text;
    font-family: $font-fam-main;
}

h2{
    color: black;
}

section {
    background-color: $color-button-blu;
}